<%= bootstrap_form_for task, remote: true do |f| %>
  <%= f.hidden_field :author_id, value: current_user.id %>
  <%= f.hidden_field :project_id, value: current_user.current_project.id %>
  <%= hidden_field_tag :status, params[:status] %>

  <div class="row">
    <div class="col-sm-4">
      <%= f.select :task_type, Task.task_types_i18n %>
    </div>
    <div class="col-sm-4">
      <%= f.select :status, Task.statuses_i18n %>
    </div>
    <div class="col-sm-4">
      <%= f.select :progress, options_for_task_progress(task.progress) %>
    </div>
  </div>

  <%= f.text_field :subject, hide_label: true, placeholder: 'Asunto: ' %>
  <%= f.text_area :description, hide_label: true, placeholder: 'Descripción: ', style: 'height: 250px' %>

  <%= link_to "<i class='fa fa-times'></i> Volver".html_safe, tasks_path(status: session[:status]) , class: 'btn btn-default', remote: true %>

  <div class="pull-right">
    <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
      <i class='fa fa-save'></i> Guardar
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $("textarea").wysihtml5();
</script>