<% content_for :header do %>
  <i class="fa fa-cubes"></i> Tareas<small><%= @project.name %></small>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to '<i class="fa fa-home"></i> Inicio'.html_safe, root_path %></li>
  <li><%= link_to 'Gestión de proyectos', projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active">Tareas</li>
<% end %>

<div class="row">

  <div class="col-md-3">
    <%= link_to 'Nueva tarea', new_task_path, class: 'btn btn-primary btn-block margin-bottom', remote: true %>

    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Estado tareas</h3>
        <div class="box-tools">
          <button data-widget="collapse" class="btn btn-box-tool" type="button"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked task-status-menu">
          <li class="active all">
            <%= link_to tasks_path, remote: true do %>
              <i class="fa"></i> Todas
              <span class="label pull-right"><%= @tasks.count %></span>
            <% end %>
          </li>

          <% Task.statuses_i18n.each do |label, key| %>
            <li class="<%= key %>">
              <%= link_to tasks_path(status: key), remote: true do %>
                <i class="fa"></i> <%= label %>
                <span class="label pull-right"><%= @tasks.status(key).count %></span>
              <% end %>
            </li>
          <% end %>
         
        </ul>
      </div>
    </div>
  </div>


  <div class="col-md-9">

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 id="tasks-title"  class="box-title">Listado de tareas</h3>
        <div id="tasks-tools" class="box-tools">
          <%= render 'search_box' %>
        </div>
      </div>

      <!--
      <div class="mailbox-controls">
        <button class="btn btn-default btn-sm checkbox-toggle" type="button"><i class="fa fa-square-o"></i></button>
        <div class="btn-group">
          <button class="btn btn-default btn-sm" type="button"><i class="fa fa-trash-o"></i></button>
        </div>
        
        <div class="pull-right">
          1-50/200
          <div class="btn-group">
            <button class="btn btn-default btn-sm" type="button"><i class="fa fa-chevron-left"></i></button>
            <button class="btn btn-default btn-sm" type="button"><i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
      -->

      <div id="tasks-body" class="box-body">
        <%= render 'tasks', tasks: @tasks %>
      </div>

    </div>

  </div>
</div>

<% content_for :js_hacks do %>
  <script type="text/javascript">
    sidebar_active("tasks");
  </script>
<% end %>