<% content_for :header do %>
  <i class="fa fa-cubes"></i> Tareas<small><%= @project.name %></small>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to '<i class="fa fa-home"></i> Inicio'.html_safe, root_path %></li>
  <li><%= link_to 'Gestión de proyectos', projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active">Tareas</li>
<% end %>

<div class="row">

  <div class="col-md-3">
    <%= link_to 'Nueva tarea', new_task_path(status: session[:status]), class: 'btn btn-primary btn-block margin-bottom', remote: true %>

    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Estado tareas</h3>
        <div class="box-tools">
          <button data-widget="collapse" class="btn btn-box-tool" type="button"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body no-padding status-menu-div">
        <%= render 'status_menu' %>
      </div>
    </div>
  </div>

  <div id="main-frame" class="col-md-9">
    <%= render 'index', tasks: @tasks %>
  </div>
</div>

<% content_for :js_hacks do %>
  <script type="text/javascript">
    sidebar_active("tasks");
  </script>
<% end %>