<tr id='job_<%= job.id %>' class='job'>
  <td><%= I18n.l job.performed_at, format: :only_date %></td>
  <td><%= job.user.name %></td>
  <td><%= job.description %></td>
  <td><%= number_with_precision job.hours, precision: 2 %> h.</td>
  <td>
    <%= link_to("<i class='fa fa-times'></i>".html_safe, job_path(job), 
                  method: :delete, data: { confirm: '¿Seguro?' }, class: 'text-danger', remote: true) %></td>
</tr>