<!-- Left side column. -->
<aside class="main-sidebar">
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag 'default-avatar.png', class: 'img-circle', alt: 'User Image' %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.name %></p>
        <!-- Status -->
        <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
      </div>
    </div>
    <!-- /.user panel -->

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Buscar...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MANTENIMIENTO</li>

      <li class="home active">
        <%= link_to root_path do %>
          <i class="fa fa-home"></i>
          <span>Inicio</span>
        <% end %>
      </li>

      <li class="profile">
        <%= link_to profile_path do %>
          <i class="fa fa-user"></i>
          <span>Mi cuenta</span>
        <% end %>
      </li>

      <li class="users">
        <%= link_to users_path do %>
          <i class="fa fa-users"></i>
          <span>Usuarios</span>
          <span class="pull-right-container">
            <small id="sidebar-users-label" class="label bg-purple pull-right"><%= User.all.count %></small>
          </span>
        <% end %>
      </li>

      <li class="projects">
        <%= link_to projects_path do %>
          <i class="fa fa-book"></i>
          <span>Proyectos</span>
          <span class="pull-right-container">
            <small id="sidebar-projects-label" class="label label-primary pull-right"><%= Project.all.count %></small>
          </span>
        <% end %>
      </li>


      <% if current_user.current_project.present? %>

        <li class="header">GESTIÓN DEL PROYECTO</li>

        <li class="dashboard">
          <%= link_to project_path(current_user.current_project) do %>
            <i class="fa fa-dashboard"></i>
            <span>Visión general</span>
          <% end %>
        </li>

        <li class="tasks">
          <%= link_to tasks_path do %>
            <i class="fa fa-cubes"></i>
            <span>Tareas</span>
            <span class="pull-right-container">
              <small class="label label-primary pull-right"><%= Task.project(current_user.current_project).count %></small>
            </span>
          <% end %>
        </li>

        <li class="invoices">
          <%= link_to '#' do %>
            <i class="fa fa-money"></i>
            <span>Facturas</span>
            <span class="pull-right-container">
              <small class="label label-primary pull-right">0</small>
            </span>
          <% end %>
        </li>

        <li class="doc">
          <%= link_to '#' do %>
            <i class="fa fa-file"></i>
            <span>Documentación</span>
          <% end %>
        </li>

        <li class="config">
          <%= link_to edit_project_path(current_user.current_project) do %>
            <i class="fa fa-gears"></i>
            <span>Configuración</span>
          <% end %>
        </li>

      <% end %>


    </ul>

    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>