<tr id="project_<%= project.id %>" class="project">
  <td><%= project.id %></td>
  <td><%= image_tag 'default-25x25.gif' %></td>
  <td><%= project.name %></td>
  <td><%= project.author.name if project.author.present? %></td>
  <td><%= (I18n.l project.created_at) if project.id.present? %></td>
  <td><%= project.tasks.count %></td>
</tr>