<tr id="project_<%= project.id %>" class="project">
  <td><%= project.id %></td>
  <td><%= image_tag 'default-50x50.gif' %></td>
  <td><%= project.name %></td>
  <td><%= project.web %></td>
  <td class="text-muted"><%= project.description %></td>
</tr>